*configuration.php
*configuration.php-dist
*CHANGELOG.php
*COPYRIGHT.php
*CREDITS.php
*INSTALL.php
*LICENSE.php
*LICENSES.php
*htaccess.txt
*logs/
*tmp/
*cache/
*administrator/components/com_akeeba/
*administrator/components/com_j4age/
*media/com_akeeba/
*administrator/templates/system/error.php
*templates/system/error.php
*googlee3a44fbabe38631b.html
*wiki/
.gitignore.swp
*administrator/language/en-GB/en-GB.com_j4age.ini
*administrator/language/en-GB/en-GB.com_j4age.menu.ini
*administrator/language/en-GB/en-GB.plg_system_webgurugoogleanalytics.ini
*administrator/language/en-GB/es-ES.com_j4age.menu.ini
*administrator/modules/mod_j4age_backend/
*components/com_j4age/
*language/en-GB/en-GB.mod_j4age_visitordetails.ini
*modules/mod_j4age_activate/
*modules/mod_j4age_browser/
*modules/mod_j4age_flags/
*modules/mod_j4age_latestvisitors/
*modules/mod_j4age_os/
*modules/mod_j4age_topvisitors/
*modules/mod_j4age_visitordetails/
*plugins/system/includes/
*plugins/system/webgurugoogleanalytics.php
*plugins/system/webgurugoogleanalytics.xml
