<?xml version="1.0" encoding="utf-8"?>
<config>
	<params addpath="/administrator/components/com_xgallery/elements">
		<param name="@xgalleryheading" type="xgalleryheading" default="GENERAL SETTINGS" />		
		<param name="image_path" type="text" size="50" default="images/stories" label="PATH TO IMAGE FOLDER" description="TIPIMAGEFOLDERWARN" />
		<param name="image_external" type="radio" default="0" label="IMAGE EXTERNAL" description="IMAGE EXTERNAL DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="image_external_path" type="text" size="50" default="/path/to/your/images" label="PATH TO EXTERNAL IMAGE FOLDER" description="PATH TO EXTERNAL IMAGE FOLDER DESC" />
		<param name="rWidth_admin" type="text" size="50" default="75" label="RESIZE WIDTH ADMIN" description="RESIZE WIDTH ADMIN DESC" />
		<param name="rHeight_admin" type="text" size="50" default="75" label="RESIZE HEIGHT ADMIN" description="RESIZE HEIGHT ADMIN" />
		<param name="execution_time" type="text" size="50" default="60" label="EXECUTION TIME ADMIN" description="EXECUTION TIME ADMIN DESC" />
		<param name="resize_image_upload" type="radio" default="1" label="RESIZE IMAGE UPLOAD" description="RESIZE IMAGE UPLOAD DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="resize_image_upload_width" type="text" size="50" default="1280" label="RESIZE IMAGE UPLOAD WIDTH" description="RESIZE IMAGE UPLOAD WIDTH DESC" />
		<param name="resize_image_upload_height" type="text" size="50" default="1024" label="RESIZE IMAGE UPLOAD HEIGHT" description="RESIZE IMAGE UPLOAD HEIGHT DESC" />
		<param name="resize_image_upload_quality" type="text" size="50" default="80" label="RESIZE IMAGE UPLOAD QUALITY" description="RESIZE IMAGE UPLOAD QUALITY DESC" />	
		<param name="file_size_limit" type="text" size="50" default="2048" label="FILE_SIZE_LIMIT" description="FILE_SIZE_LIMIT_DESC" />
		<param name="file_upload_limit" type="text" size="50" default="0" label="FILE_UPLOAD_LIMIT" description="FILE_UPLOAD_LIMIT_DESC" />
		<param name="file_queue_limit" type="text" size="50" default="100" label="FILE_QUEUE_LIMIT" description="FILE_QUEUE_LIMIT_DESC" />	
		<param name="swfupload_debug" type="radio" default="0" label="ENABLE_SWUPLOAD_DEBUG" description="ENABLE_SWUPLOAD_DEBUG_DESC">
            <option value="1">YES</option>
			<option value="0">NO</option>
        </param>
		<param name="rssitems" type="text" size="50" default="5" label="RSS ITEMS" description="RSS ITEMS DESC" />
		<param name="metadesc" type="textarea" default="" rows="5" cols="35" label="META DESCRIPTION" description="META DESCRIPTION DESC" />
		<param name="metakey" type="textarea" default="" rows="5" cols="35" label="META KEYWORDS" description="META KEYWORDS DESC" />
		<param name="metaauthor" type="text" size="50" default="" label="META AUTHORS" description="META AUTHORS DESC" />
		<param name="metarobots" type="text" size="50" default="" label="META ROBOTS" description="META ROBOTS DESC" />
		<param name="load_jquery" type="radio" default="0" label="LOAD JQUERY" description="LOAD JQUERY DESC">
            <option value="1">YES</option>
			<option value="0">NO</option>
        </param>
		<param name="enable_error" type="radio" default="0" label="ENABLE ERRORS" description="ENABLE ERRORS DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		
		<param name="@xgalleryheading" type="xgalleryheading" default="CATEGORY SETTINGS" />
		<param name="@xgalleryheading" type="xgallerysubheading" default="SUB GENERAL SETTINGS" />		
		<param name="cfg_show_cat_title" type="radio" default="1" label="SHOW NAME" description="SHOW NAME DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_show_cat_quick" type="radio" default="1" label="SHOW QUICKTAKE" description="SHOW QUICKTAKE DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_show_cat_desc" type="radio" default="1" label="SHOW DESCRIPTION" description="SHOW DESCRIPTION DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_show_cat_rss" type="radio" default="1" label="RSS SHOW RSS FEED" description="RSS SHOW RSS FEED DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_cat_thumbs_per_row" type="text" size="50" default="4" label="THUMBNAILS PER ROW" description="THUMBNAILS PER ROW DESC" />
		<param name="cfg_cat_width" type="text" size="50" default="75" label="RESIZE WIDTH CAT" description="RESIZE WIDTH CAT DESC" />
		<param name="cfg_cat_height" type="text" size="50" default="75" label="RESIZE HEIGHT CAT" description="RESIZE HEIGHT CAT DESC" />
		<param name="cfg_cat_alias_name" type="text" size="75" default="category" label="CAT ALIAS NAME" description="CAT ALIAS NAME DESC" />
				
		<param name="@xgalleryheading" type="xgallerysubheading" default="SUB CATEGORY SETTINGS" />
		<param name="cfg_cat_show_subcat" type="radio" default="1" label="SHOW SUB CATEGORIES" description="SHOW SUB CATEGORIES DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_cat_show_cat_title" type="radio" default="1" label="SHOW SUB CATEGORY TITLE" description="SHOW SUB CATEGORY TITLE DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_cat_display_layout" type="list" default="table" label="DISPLAY LAYOUT" description="DISPLAY LAYOUT DESC CAT">
			<option value="cat_table">TABLE VIEW</option>
			<option value="cat_list">LIST VIEW</option>
		</param>
		<param name="cfg_cat_sort_order" type="list" default="id" label="CAT SORT ORDER" description="CAT SORT ORDER DESC">
			<option value="ordering">ORDERING</option>
			<option value="id">ID</option>
			<option value="name">NAME</option>
			<option value="creation_date">DATE</option>
		</param>
		<param name="cfg_cat_sort_order_dir" type="list" default="asc" label="CAT SORT ORDER DIR" description="CAT SORT ORDER DIR DESC">
			<option value="asc">ASCENDING</option>
			<option value="desc">DESCENDING</option>
		</param>
		<param name="cfg_cat_show_name" type="radio" default="1" label="SHOW NAME" description="SHOW NAME DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_cat_show_date" type="radio" default="1" label="SHOW DATE" description="SHOW DATE DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_cat_show_hits" type="radio" default="1" label="SHOW HITS" description="SHOW HITS DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_cat_show_quick" type="radio" default="0" label="SHOW CAT QUICKTAKE" description="SHOW CAT QUICKTAKE DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_cat_sub_limit" type="text" default="8" label="SUB CATEGORY LIMIT" description="SUB CATEGORY LIMIT DESC" />
		
		<param name="@xgalleryheading" type="xgallerysubheading" default="SUB COLLECTION SETTINGS" />		
		<param name="cfg_cat_coll_show_colls" type="radio" default="1" label="SHOW COLLECTION" description="SHOW COLLECTION DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_cat_coll_show_coll_title" type="radio" default="1" label="SHOW COLLECTION TITLE" description="SHOW COLLECTION TITLE DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_cat_coll_display_layout" type="list" default="table" label="DISPLAY LAYOUT" description="DISPLAY LAYOUT DESC CAT">
			<option value="table">TABLE VIEW</option>
			<option value="list">LIST VIEW</option>
		</param>
		<param name="cfg_cat_coll_sort_order" type="list" default="id" label="COLL SORT ORDER" description="COLL SORT ORDER DESC">
			<option value="ordering">ORDERING</option>
			<option value="id">ID</option>
			<option value="name">NAME</option>
			<option value="creation_date">DATE</option>
		</param>
		<param name="cfg_cat_coll_sort_order_dir" type="list" default="asc" label="COLL SORT ORDER DIR" description="COLL SORT ORDER DIR DESC">
			<option value="asc">ASCENDING</option>
			<option value="desc">DESCENDING</option>
		</param>
		<param name="cfg_cat_coll_show_name" type="radio" default="1" label="SHOW NAME" description="SHOW NAME DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_cat_coll_show_date" type="radio" default="1" label="SHOW DATE" description="SHOW DATE DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_cat_coll_show_hits" type="radio" default="1" label="SHOW HITS" description="SHOW HITS DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_cat_coll_show_quick" type="radio" default="0" label="SHOW CAT QUICKTAKE" description="SHOW CAT QUICKTAKE DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_cat_coll_limit" type="text" default="8" label="CAT_COLL_PER_PAGE" description="CAT_COLL_PER_PAGE_DESC" />
		
		<param name="@xgalleryheading" type="xgalleryheading" default="COLLECTION SETTINGS" />			
		<param name="display_layout" type="list" default="shadowbox" label="DISPLAY LAYOUT" description="DISPLAY LAYOUT DESC">
			<option value="shadowbox">SHADOWBOX</option>
			<option value="galleriffic">EMBEDED VIEW GALLERIFFIC</option>
		</param>
		<param name="shadowbox_type" type="list" default="shadowbox" label="LIGHTBOX TYPE" description="LIGHTBOX TYPE DESC">
			<option value="shadowbox">LIGHTBOX S</option>
			<option value="lightbox">LIGHTBOX L</option>
		</param>
		<param name="enable_coll_page" type="radio" default="1" label="ENABLE COLL PAGE" description="ENABLE COLL PAGE DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="filter_images" type="radio" default="1" label="FILTER IMAGES" description="FILTER IMAGES DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="img_per_page" type="text" default="20" label="IMAGES PER PAGE" description="IMAGES PER PAGE DESC" />	
		<param name="num_thumbcol" type="text" default="4" label="IMAGES PER COL" description="IMAGES PER COL DESC" />	
		<param name="coll_sort_order" type="list" default="id" label="COLL SORT ORDER" description="COLL SORT ORDER DESC">
			<option value="ordering">ORDERING</option>
			<option value="id">ID</option>
			<option value="name">NAME</option>
			<option value="creation_date">DATE</option>
		</param>
		<param name="coll_sort_order_dir" type="list" default="asc" label="COLL SORT ORDER DIR" description="COLL SORT ORDER DIR DESC">
			<option value="asc">ASCENDING</option>
			<option value="desc">DESCENDING</option>
		</param>
		<param name="coll_show_coll_title" type="radio" default="1" label="SHOW COLLECTION TITLE" description="SHOW COLLECTION TITLE DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_coll_show_tname" type="radio" default="1" label="SHOW THUMB NAME" description="SHOW THUMB NAME DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_coll_show_name" type="radio" default="1" label="SHOW NAME" description="SHOW NAME DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_coll_show_date" type="radio" default="1" label="SHOW DATE" description="SHOW DATE DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_coll_show_hits" type="radio" default="1" label="SHOW HITS" description="SHOW HITS DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_coll_show_coll_quick" type="radio" default="1" label="SHOW QUICKTAKE" description="SHOW QUICKTAKE DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_coll_show_coll_desc" type="radio" default="1" label="SHOW DESCRIPTION" description="SHOW DESCRIPTION DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>
		<param name="cfg_coll_show_coll_sub" type="radio" default="1" label="SHOW SUBSCRIPTION" description="SHOW SUBSCRIPTION DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>
		</param>					
		<param name="coll_width" type="text" size="50" default="75" label="RESIZE WIDTH COLL" description="RESIZE WIDTH COLL DESC" />
		<param name="coll_height" type="text" size="50" default="75" label="RESIZE HEIGHT COLL" description="RESIZE HEIGHT COLL DESC" />
		<param name="coll_width_max" type="text" size="50" default="500" label="RESIZE WIDTH COLL MAX" description="RESIZE WIDTH COLL MAX DESC" />
		<param name="coll_height_max" type="text" size="50" default="500" label="RESIZE HEIGHT COLL MAX" description="RESIZE HEIGHT COLL MAX DESC" />		
		<param name="enable_lightbox" type="radio" default="1" label="ENABLE LIGHTBOX" description="ENABLE LIGHTBOX DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="include_metakey" type="radio" default="0" label="META KEYWORDS INC" description="META KEYWORDS INC DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="include_metadesc" type="radio" default="0" label="META DESCRIPTION INC" description="META DESCRIPTION INC DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="coll_alias_name" type="text" size="75" default="collection" label="COLL ALIAS NAME" description="COLL ALIAS NAME DESC" />
		
		<param name="@xgalleryheading" type="xgalleryheading" default="RSS FEED SETTINGS" />		
		<param name="enable_rss" type="radio" default="0" label="ENABLE RSS" description="ENABLE RSS DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="rss_title" type="text" size="50" default="Gallery" label="RSS TITLE" description="RSS TITLE DESC" />
		<param name="rss_desc" type="textarea" default="" rows="5" cols="35" label="RSS DESCRIPTION" description="RSS DESCRIPTION DESC" />
		<param name="rss_max_items" type="text" size="50" default="10" label="RSS MAX ITEMS" description="RSS MAX ITEMS DESC" />
		<param name="rss_show_protected" type="radio" default="0" label="RSS SHOW PROTECTED" description="RSS SHOW PROTECTED DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		
		<param name="@xgalleryheading" type="xgalleryheading" default="WATERMARK SETTINGS" />		
		<param name="enable_watermark" type="radio" default="0" label="WM ENABLE" description="WM ENABLE DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="watermark_path" type="text" size="50" default="images/stories/watermark/watermark.png" label="WM PATH" description="WM PATH DESC" />
		<param name="wm_h_position" type="list" default="r" label="WM H POSITION" description="WM H POSITION DESC">
			<option value="l">LEFT</option>
			<option value="c">CENTER</option>
			<option value="r">RIGHT</option>		
		</param>
		<param name="wm_v_position" type="list" default="b" label="WM V POSITION" description="WM V POSITION DESC">
			<option value="t">TOP</option>
			<option value="c">CENTER</option>
			<option value="b">BOTTOM</option>				
		</param>
		<param name="wm_opacity" type="text" default="80" label="WM OPACITY" description="WM OPACITY DESC">
			<option value="larger">WM SIZE LARGE</option>
			<option value="1">WM SIZE HUNDRED</option>
			<option value=".5">WM SIZE FIFTY</option>				
		</param>
		<param name="@xgalleryheading" type="xgalleryheading" default="GALLERIFFIC SETTINGS" />
		<param name="galleriffic_navwidth" type="text" size="50" default="700" label="GALLERIFFIC NAVWIDTH" description="GALLERIFFIC NAVWIDTH DESC" />
		<param name="galleriffic_delay" type="text" size="50" default="2500" label="GALLERIFFIC DELAY" description="GALLERIFFIC DELAY DESC" />
		<param name="galleriffic_numthumbs" type="text" size="50" default="20" label="GALLERIFFIC NUMTHUMBS" description="GALLERIFFIC NUMTHUMBS DESC" />
		<param name="galleriffic_preloadAhead" type="text" size="50" default="10" label="GALLERIFFIC PRELOADAHEAD" description="GALLERIFFIC PRELOADAHEAD DESC" />
		<param name="galleriffic_enableTopPager" type="radio" default="1" label="GALLERIFFIC ENABLETOPPAGER" description="GALLERIFFIC ENABLETOPPAGER DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="galleriffic_enableBottomPager" type="radio" default="1" label="GALLERIFFIC ENABLEBOTTOMPAGER" description="GALLERIFFIC ENABLEBOTTOMPAGER DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="galleriffic_maxPagesToShow" type="text" size="50" default="7" label="GALLERIFFIC MAXPAGESTOSHOW" description="GALLERIFFIC MAXPAGESTOSHOW DESC" />
		<param name="galleriffic_renderSSControls" type="radio" default="1" label="GALLERIFFIC RENDERSSCONTROLS" description="GALLERIFFIC RENDERSSCONTROLS DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="galleriffic_renderNavControls" type="radio" default="1" label="GALLERIFFIC RENDERNAVCONTROLS" description="GALLERIFFIC RENDERNAVCONTROLS DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="galleriffic_enableHistory" type="radio" default="0" label="GALLERIFFIC ENABLEHISTORY" description="GALLERIFFIC ENABLEHISTORY DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="galleriffic_enableKeyboardNavigation" type="radio" default="0" label="GALLERIFFIC ENABLEKNAVIGATION" description="GALLERIFFIC ENABLEKNAVIGATION DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="galleriffic_autoStart" type="radio" default="0" label="GALLERIFFIC AUTOSTART" description="GALLERIFFIC AUTOSTART DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="galleriffic_syncTransitions" type="radio" default="1" label="GALLERIFFIC SYNCTRANSITIONS" description="GALLERIFFIC SYNCTRANSITIONS DESC">
			<option value="1">YES</option>
			<option value="0">NO</option>			
		</param>
		<param name="galleriffic_defaultTransitionDuration" type="text" size="50" default="900" label="GALLERIFFIC DEFAULTTRANSDURATION" description="GALLERIFFIC DEFAULTTRANSDURATION DESC" />
	</params>
</config>
